body {
  background-color: rgba(0, 0, 0, 0.822);
}
h3 {
  color: white;
}

span {
  display: block;
  justify-content: start;
  position: fixed;
}

.container-fluid {
  background-color: rgb(97, 83, 224);
}

.btn {
  height: 100%;
  width: 100%;
  border-style: groove;
  border: 1px solid rgb(53, 252, 53);
  border-radius: 1px;
  transition: 0.4s;
}
.btn:hover {
  height: 50px;
  width: 50px;
  background-color: lightgreen;
  position: relative;
  border: 10px;
  border-radius: 10px;
}

.nav-item {
  color: white;
  border-top: 4px solid rgb(97, 83, 224);
  border-bottom: 4px solid rgb(97, 83, 224);

  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  animation: mymove 5s infinite;
  position: sticky;
}
@keyframes mymove {
  50% {
    color: aliceblue;
    background-color: aliceblue;
  }
}

.nav-item:hover {
  height: 60px;
  width: 60px;
  background-color: lightgreen;
  position: relative;
  border: 60px;
  border-color: aquamarine;
  border-radius: 60px;
  justify-content: center;
}
